.sidebar{
    background: orange;
    grid-area:sidebar;
    text-align: center;
    color:white;
    padding:0px 10px;
}
.sidebar__title{
    font-size:30px;
    text-align:left;
}
.sidebar__friendsWrap{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.nav li{
    padding:15px;
    font-size:15px;
}
.active{
    color:darkred;
    opacity:0.8;
    border-radius:50px;
    font-style: italic;
    font-weight: bold;
}