ul, li {
  list-style:none;
  padding:0;
}
a{
  color:white;
}
button{
  color:green;
  background:orange;
  border:3px solid green;
  border-radius:30px;
  width:95px;
  height:35px;
  cursor:pointer;
}
button:hover{
  color:orange;
  background:green;
  border-color:orange;
}
button:disabled{
  background:gray;
}
.mainWrapper{
  display:grid;
  grid-template-rows:60px 1fr;
  grid-template-columns:1fr 5fr;
  grid-template-areas:
  "header header"
  "sidebar content";
}
.contentWrapper{
  grid-area:content;
  background:yellow;
}
