ul, li {
  list-style:none;
  padding:0;
}
a{
  color:white;
}
.mainWrapper{
  display:grid;
  grid-template-rows:60px 1fr;
  grid-template-columns:1fr 5fr;
  grid-template-areas:
  "header header"
  "sidebar content";
}
.contentWrapper{
  grid-area:content;
  background:yellow;
}
